@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  body {
    background: linear-gradient(to bottom right, #FFF8DE, #F5EDCD, #E8DCBB);
    min-height: 100vh;
  }
  
  .footer_w {
    background: linear-gradient(to bottom right, #B8A78B, #8B7355);
    color: white;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }